.header {
    height: 32px;
    background-color: teal;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    &_link {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}