.home {
    margin: 0 20px;
    background-color: #FAFAFA;
    height: calc(100% - 32px);
    padding: 10px;

    &_loading {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }

    &_movies {
        display: flex;
        flex-wrap: wrap;
    }
}