.likes {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_table {
        border-collapse: collapse;
    }

    &_cell {
        border-bottom: 1px solid black;
        padding: 10px;
    }

    &_bin {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 318.317 318.317'%3e%3cpath d='M269.889 34.498h-50.983V13.273C218.906 5.954 212.952 0 205.633 0h-18.937c-2.762 0-5 2.238-5 5s2.238 5 5 5h18.937a3.276 3.276 0 0 1 3.273 3.273v21.226h-99.495V13.273A3.276 3.276 0 0 1 112.684 10h58.013c2.762 0 5-2.238 5-5s-2.238-5-5-5h-58.013c-7.319 0-13.273 5.954-13.273 13.273v21.226H74.496a5 5 0 1 0 0 10h195.393c.283 0 .514.23.514.514v29.012c0 .283-.23.514-.514.514H48.428a.514.514 0 0 1-.514-.514V45.012c0-.283.231-.514.514-.514h8.269a5 5 0 1 0 0-10h-8.269c-5.797 0-10.514 4.717-10.514 10.514v29.012c0 5.797 4.716 10.514 10.514 10.514h9.506V280.85c0 20.66 16.808 37.468 37.468 37.468h73.294a5 5 0 0 0 5-5 5 5 0 0 0-5-5H95.403c-15.146 0-27.468-12.322-27.468-27.468V84.537h182.448V280.85c0 15.145-12.322 27.468-27.468 27.468h-34.218a5 5 0 0 0-5 5 5 5 0 0 0 5 5h34.218c20.66 0 37.468-16.808 37.468-37.468V84.537h9.507c5.797 0 10.514-4.717 10.514-10.514V45.012c-.001-5.797-4.718-10.514-10.515-10.514z'/%3e%3cpath d='M92.412 207.406a5 5 0 0 0-5 5v64.496a5 5 0 1 0 10 0v-64.496a5 5 0 0 0-5-5zM97.412 101.411a5 5 0 1 0-10 0v86.996a5 5 0 1 0 10 0v-86.996zM131.41 101.411v175.491a5 5 0 1 0 10 0V101.411a5 5 0 1 0-10 0zM224.405 136.561a5 5 0 0 0 5-5v-30.15a5 5 0 0 0-5-5 5 5 0 0 0-5 5v30.15a5 5 0 0 0 5 5zM219.405 152.494a5 5 0 0 0 5 5 5 5 0 0 0 5-5v-5.515a5 5 0 0 0-5-5 5 5 0 0 0-5 5v5.515zM219.405 276.902a5 5 0 0 0 5 5 5 5 0 0 0 5-5V168.895a5 5 0 0 0-5-5 5 5 0 0 0-5 5v108.007zM180.408 251.904a5 5 0 0 0 5-5V101.411c0-2.762-2.238-5-5-5s-5 2.238-5 5v145.493a5 5 0 0 0 5 5zM185.408 276.902v-13.499c0-2.762-2.238-5-5-5s-5 2.238-5 5v13.499c0 2.762 2.238 5 5 5s5-2.238 5-5z'/%3e%3c/svg%3e");
        height: 20px;
        width: 20px;
        background-size: 20px;
        background-repeat: no-repeat;
        border-bottom: none;
        background-position: center;
    }
}