<section class='header'>
    <LinkTo @route='index' @tagName='div' class='header_link'>
        Ember Movies
    </LinkTo>

    <LinkTo @route='favourites' @tagName='div' class='header_link'>
        Favourites
    </LinkTo>
</section>