<section class='likes page'>
    <h1 class='title'>Your Favourite Movies</h1>
    {{#unless model.likedMovies.isRunning}}
        <Favourites @likedMovies={{model.likedMovies.value}} />
    {{/unless}}
</section>