<section class='movie page'>
    {{#unless (or model.movie.isRunning model.likedMovies.isRunning)}}
        <MoviePage @movie={{model.movie.value}} @isLiked={{contains model.likedMovies.value model.movie.value.id}} />
    {{/unless}}
</section>